.App {
  text-align: center;
}

.purple.active {
  color: rgb(205, 180, 219);
}

.pink.active {
  color: rgb(255, 200, 221);
}

.blue.active {
  color: rgb(189, 224, 254);
}

a {
  color: inherit;
}

header ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  min-height: 5vh;
}

